.seleccionProc{
	text-align: center;
}

.options{
	padding: 5px 20px 20px 20px;
}

.selectPlant{
	width: 60%;
}

.subCaja textarea{
	max-width: 100%;
	max-height: 200px;
}

.botones{
	padding: 15px 0px 5px 0px;
	text-align: center;
}

.btn{
	display: block;
	text-align: center;
}