.espacio {
    margin-top: 50px;
}

.formularioProc {
    width: 95%;
}

.inputTxt {
    width: 49%;
    height: 2.5rem;
    margin-left: 5px;
    background: #eee;
    border-radius: 6px;
    border: 0;
    margin-top: 8px;
}

.formularioProc label {
    padding-bottom: 5px;
}

.selectProc,
.selectPlant {
    width: 15%;
    height: 2.5rem;
    background: #eee;
    border-radius: 6px;
    border: 0;
    margin-top: 8px;
}

.subBoton {
    text-align: center;
    margin-left: 5px;
    padding: 7px 12px;
    border-radius: 8px;
    background: #202C4C;
    color: #FFF;
    font-weight: bold;
}