.titulo{
	font-size: 2rem;
	text-align: center;
	margin-bottom: 30px;
}

.caja{
	width: 80%;
	margin: 30px auto 0 auto;
	text-align: center;
	overflow: auto;
}

.vistas{
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
}

.forma, .forma-rol, .forma-fin{
	margin-top: 50px;
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: left;
	font-size: 1.2rem;
	-webkit-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
}

.correo{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
	background: #202C4C;
	color: white;
	padding: 5px 0;
}

.cajacor{
	padding: 10px 20px 5px 20px;
	margin-bottom: 0px;
}

.cajacor div{
	margin-bottom: 12px;
}


.forma{
	text-align: left;
}

.forma div{
	margin-bottom: 10px;
}

.forma label{
	padding-bottom: 8px;
}

.forma .inputTxt{
	width: 100%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.forma-rol .inputTxt{
	width: 100%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;
}

.forma-fin .finuser{
	font-weight: bold;
}

.botoncorreo{
	text-align: center;
	padding: 7px 12px;
	border-radius: 20px;
	background: #202C4C;
	color: #FFF;
	font-weight: bold;
}

.btncorreo{
	margin-bottom: 0;
	padding-top: 5px;
	text-align: center;
}

.forma-fin{
	text-align: center;
}