.forma {
    width: 550px;
    /* height: 650px; */
}

.formaDetalle mat-form-field {
    width: 100%;
}

.formaDetalle {
    width: 100%;
    /* padding: 0; */
    margin: 0;
    /* height: 600px; */
    padding-top: 10px;
}

.responsable {
    padding: 10px;
    text-align: center;
    min-height: 500px;
}

.responsable mat-form-field {
    margin: 10px;
    width: 40%;
}

.responsable button {
    margin-top: 20px;
}