.title{
	font-size: 2rem;
	text-align: center;
}


.selectPlantEdit{
	width: 70%;
	height: 2.5rem;
	background: #eee;
	border-radius: 6px;
	border: 0;
	margin-top: 8px;

}

.formularioCentrado{
	margin: 0 auto;
	margin-bottom: 20px;
	text-align: center;
	width: 600px;
	font-size: 1.2rem;
	-webkit-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
}