.caja{
	width: 80%;
	margin: 10px auto 0 auto;
	text-align: center;
	overflow: auto;
}

.titulo{
	font-size: 2rem;
	text-align: center;
	margin-top: -10px;
}

.subtitle{
	font-size: 1.5rem;
	text-align: center;
	margin-bottom: 10px;
	background: #202C4C;
	color: white;
	padding: 5px 0;
}

.formulario, .formularioProc{
	margin: 0 auto;
	margin-bottom: 20px;
	/*border: 5px solid #951228;*/
	text-align: left;
	font-size: 1.2rem;
	-webkit-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
}
.formulario{
	width: 600px;
}
/* .formulario label{
	color: white;
	} */

	.subCaja{
		padding: 10px 20px 5px 20px;
		margin-bottom: 0px;
	}

	.formulario .inputTxt{
		width: 100%;
		height: 2.5rem;
		background: #eee;
		border-radius: 6px;
		border: 0;
		margin-top: 8px;
	}

	.subCaja div{
		margin-bottom: 12px;
	}

	.formulario label{
		padding-bottom: 5px;
	}

	.boton{
		text-align: center;
		padding: 7px 12px;
		border-radius: 20px;
		background: #202C4C;
		color: #FFF;
		font-weight: bold;
	}
	.btn{
		margin-bottom: 0;
		padding-top: 5px;
		text-align: center;
	}