.formularioProc {
    width: 750px;
    border-radius: 12px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    text-align: left;
    font-size: 1.2rem;
    -webkit-box-shadow: 5px 7px 23px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 7px 23px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 7px 23px -4px rgba(0, 0, 0, 0.75);
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 10px;
    background: #202C4C;
    color: white;
    padding: 5px 0;
}

.formularioProc label {
    padding-bottom: 5px;
}

ul {
    list-style: none;
}

.listadoProcesos {
    /* padding: 20px; */
    text-align: center;
}

.listadoProcesos label {
    font-size: 1.2rem;
    width: 50%;
    display: inline-block;
    margin-left: 10px;
    text-align: left;
}

.item {
    border-top: 1px solid #202C4C;
    border-bottom: 1px solid #202C4C;
    margin: 15px 0;
    padding: 8px 0;
}

.actividadFigure {
    border-radius: 3px;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background: #951228;
}

.indicador {
    display: inline-block;
    width: 30%;
}

.procesoFigure,
.semaforo {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: inline-block;
}

.semaforo {
    cursor: pointer;
}

.procesoFigure {
    background: #951228;
}

.estrucuraIndicadores p,
.estrucuraIndicadores label {
    font-size: 1.1rem;
}

.indicadores {
    display: inline-block;
    text-align: center;
    width: 54%;
}

.datosIndic {
    float: left;
    width: 44%;
    text-align: center;
    top: 0;
    margin-top: 50px;
}

.llenadoIndicador {
    margin-top: 5px;
    padding: 20px;
}

.llenadoIndicador label,
.llenadoIndicador p {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.llenadoIndicador p {
    vertical-align: top;
    margin-top: 15px;
}

.dataProceso {
    padding: 10px;
}

.Semval {
    display: inline-block;
}

.SemVerde {
    background: #1db28d;
}

.SemVerdeVacio {
    border: solid 1px #1db28d;
}

.SemAmarillo {
    background: #e2ca3b;
}

.SemAmarilloVacio {
    border: solid 1px #e2ca3b;
}

.SemRojo {
    background: #dc304b;
}

.SemRojoVacio {
    border: solid 1px #dc304b;
}

.SemOpaco {
    opacity: .2;
}

.txtLlenado,
.txtAreaLlenado {
    background: #eee;
    border-radius: 6px;
    border: 0;
    margin-top: 8px;
}

.txtAreaLlenado {
    max-width: 60%;
    min-width: 60%;
    min-height: 75px;
    max-height: 125px;
    display: inline-block;
}

.txtLlenado {
    height: 2rem;
    width: 60%;
}

.tituloEstrategia p,
.tituloEstrategia div {
    display: inline-block;
    margin-top: 0;
}

.tituloEstrategia {
    text-align: center;
}

.tituloEstrategia p {
    text-align: right;
}

.botones {
    padding: 10px 0 30px 0;
    text-align: center;
}

.botonesInternos {
    padding: 0 0 10px 0;
    text-align: center;
}

.boton {
    text-align: center;
    padding: 7px 15px;
    border-radius: 20px;
    background: #11244e;
    color: #FFF;
    font-weight: bold;
}

.botonG {
    text-align: center;
    border-radius: 20px;
    background: #11244e;
    color: #FFF;
    font-weight: bold;
}

.listadoProcesos .botones {
    padding: 10px 0 10px 0;
}

.llenadoIndicador form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.btnAplicar {
    margin-left: 150px;
}

.Ruta {
    text-align: left;
    padding: 5px 20px 0 20px;
}

.Ruta label {
    display: inline;
    cursor: pointer;
}

.lista {
    max-height: 600px;
    padding: 5px 15px 0px 15px;
    overflow: auto;
    background: #eee;
}

.bloque {
    display: block;
}

.titleIndic {
    padding: 5px;
}

.dialogo {
    width: 850px;
}

.forma mat-form-field {
    width: 100%;
}

.bloque textarea {
    max-height: 100px;
    min-height: 30px;
    height: 50px;
    min-width: 100%;
    max-width: 100%;
}

.verde {
    color: #1db28d;
}

.amarillo {
    color: #e2ca3b;
}

.rojo {
    color: #dc304b;
}

.listaIndicadores p {
    cursor: pointer;
}