/********************\
  $Reset ☰
\********************/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F0F3F7;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}


/********************\
  $Layout ☰
\********************/


/*Damos estilos al menú*/

.nav {
    position: fixed;
    height: 100%;
    width: 16.5%;
    background-color: #202C4C;
}


/*Estilos de los li del menú*/

.nav__item {
    display: block;
    padding: 20px 0 10px 25px;
    width: 100%;
    margin: 0 auto;
    line-height: 2;
    position: relative;
    /*Le damos una posición relativa para posteriormente añadirle el triangulo que indica que se está en la página actual del menú*/
    background-color: #202C4C;
    font-family: 'Helvetica', sans-serif;
    text-align: left;
    color: #FFF;
    font-weight: lighter;
    font-size: 1.1rem;
}

.nav__item:hover {
    background-color: #08356B;
}

.nav_selected {
    background-color: #08356B;
}

.tab {
    padding-left: 50px;
    font-weight: normal;
}

.fondo {
    background: #F0F3F7;
}