.Chart {
    display: inline-block;
    margin: 0 auto;
}

.Chart img {
    width: 100%;
}


/* 
.Chart chart-circle {
    height: 300px;
    vertical-align: middle;
    overflow: hidden;
} */