.title{
	text-align: center;
	font-size: 30px
}
.Barra{
	height: 100px;
}

.Clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style: none;
}

.contenedor{
	width: 70%;
	background: #EEE;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
}

.contenedor ul {
	list-style: none;
	margin: 0 auto;
}

.btn{
	color: #FFF;
	border-radius: 12px;
	padding: 5px 10px;
	margin: 10px;
}

.btnEditar{
	background: #0075c4;
}

.btnEliminar{
	background: #951228;
}

.btnEditar:hover {
	opacity: 0.5;
}
.btnEliminar:hover {
	opacity: 0.5;
}
.example-card {
	max-width: 100%;
	text-align: center;
	height: 100%;
}

.example-header-image {
	width: 100%;
}
.titulo{
	font-size: 20px;
}
.subtitulo{
	color: blue;
}
.sombra{
	width: 400px;
	height: 200px;
	-webkit-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 11px -5px rgba(0,0,0,0.75);
	box-shadow: 5px 5px 4px #888888;
	display: inline-block;
	margin: 10px;
	text-align: center;
	position: relative;

}

.cardHead{
	text-align: left;
	position: absolute;
	top:20px;
}
.botones{
	bottom: 30px;
	left: 0;
	right: 0;
	position: absolute;
}

.tarjeta{
	
	width: 500px;
	
	padding: 20px 10px 10px 10px;
	background: #FFF;
	box-shadow: 5px 5px 4px #888888;
	/*display: inline-block;*/
	float: left;
	margin: 10px;
}

.tarjeta p{
	text-align: left;
}

.data{
	display: inline-block;
	padding-left: 15px;
	width: 70%;
}

.icono{
	float: left;
	width: 30%;
	border-radius: 50%;
}

.subtitle{
	font-weight: bold;
	text-align: left;

}