.contenidoProc {
    width: 100%;
    padding: 0 3%;
}

.chart {
    display: inline-block;
    width: 27%;
    /* padding: 10px; */
    max-height: 350px;
    /* overflow: hidden; */
}

.responsable {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    text-align: center;
}

.pendientes {
    display: inline-block;
    width: 53%;
    vertical-align: top;
    text-align: center;
    position: relative;
    max-height: 350px;
    overflow: auto;
}

.tabla {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
    text-align: left;
}

.cuadro {
    width: 30px;
    height: 30px;
    border-radius: 10%;
    /* background-color: #1db28d; */
}

.SemRojo {
    background: #dc304b;
}

.SemAmarillo {
    background: #e2ca3b;
}

.SemVerde {
    background: #1db28d;
}

.circle img {
    width: 80%;
    border-radius: 100%;
}

a:hover {
    text-decoration: none;
}

.btnDetalle {
    background: #202C4C;
    color: #FFF;
    border-radius: 12px;
    /* padding: 5px 3px; */
}