.title{
	text-align: center;
}

.Barra{
	height: 100px;
}

.Clearfix{
	float: none;
	clear: both;
	text-decoration: none;
	list-style: none;
}

.contenedor{
	width: 70%;
	background: #EEE;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	-webkit-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	-moz-box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.49);
}

.contenedor ul {
	list-style: none;
}

.tarjeta{
	width: 300px;
	height: 150px;
	padding: 20px 0;
	background: #FFF;
	box-shadow: 5px 5px 4px #888888;
	/*display: inline-block;*/
	float: left;
	margin: 10px;
}

.btn{
	color: #FFF;
	border-radius: 12px;
	padding: 5px 10px;
	margin: 10px;
}

.btnEditar{
	background: #0075c4;
}

.btnEliminar{
	background: #951228;
}

.BtnPlus{
	height: 100%;
	width: 100%;
	vertical-align: middle;
	text-align: center;
	position: relative;
	
}

.BtnPlus button{
	position: absolute;
	z-index: 1;
	margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background: #88c47c;
	color: #FFF;
	font-size: 2rem;
}

.icono{
	/*background-color: #202C4C;*/
	float: left;
	width: 25%;
	margin-left: 20px;
	border-radius: 50px;
}