<div class="content-fluid">
    <div class="caja">
        <h2 class="title">ADMINISTRACIÓN</h2>
        <ul class="flujo">
            <li class="circulo verde"></li>
            <li class="linea" [ngClass]="{verde: paso >= 2}"></li>
            <li class="circulo" [ngClass]="{verde: paso >= 2}"></li>
            <li class="linea" [ngClass]="{verde: paso >= 3}"></li>
            <li class="circulo" [ngClass]="{verde: paso >= 3}"></li>
            <li class="linea" [ngClass]="{verde: paso >= 4}"></li>
            <li class="circulo" [ngClass]="{verde: paso >= 4}"></li>
            <li class="linea" [ngClass]="{verde: paso >= 5}"></li>
            <li class="circulo" [ngClass]="{verde: paso >= 5}"></li>
        </ul>
        <div class="espacio">
            <form class="formulario" *ngIf="paso == 1">
                <h3 class="subtitle">Asigna un nombre a tu proceso</h3>
                <div class="subCaja">
                    <div>
                        <p>
                            <input type="text" name="nombreProceso" required="required" class="inputTxt" placeholder=" Nombre Proceso" #nombreProceso="ngModel" [(ngModel)]="macroProceso.nombre" style="text-align: center;">
                        </p>
                        <p>
                            <textarea cols="30" rows="10" name="descripcionMacroProceso" required="required" class="inputTxt" placeholder=" Descripcion Proceso" #descripcionMacroProceso="ngModel" [(ngModel)]="macroProceso.descripcion"></textarea>
                        </p>
                    </div>
                    <div class="btn">
                        <input type="submit" (click)="ValidarProceso()" class="boton">
                    </div>
                </div>
            </form>
            <form class="formulario seleccionProc" *ngIf="paso == 2">
                <h3 class="subtitle">Selecciona una platilla base</h3>
                <div class="options">
                    <select name="template" id="tipoProc" class="selectPlant" [(ngModel)]="templateSelected">
						<option [ngValue] = 0 >Plantilla Vacia</option>
						<option *ngFor="let template of templates; let i = index " [ngValue]="template.ID_Plantilla">{{ template.Nombre }}</option>
					</select>
                    <input type="button" class="boton" value="Crear Proceso" (click)="SelectTemplate()">
                    <div class="botones btin">
                        <br>
                        <input type="submit" class="boton" value="Cancelar" (click)="Retroceder()">
                    </div>
                </div>

            </form>
            <form class="formularioProc" *ngIf="paso == 3">
                <h3 class="subtitle">Crear Proceso</h3>
                <div class="subCaja">

                    <struct-proc [procesoBase]="procesoBase"></struct-proc>
                    <div class="botones">
                        <input type="submit" class="boton" value="Crear Proceso" (click)="btnCrearProcClick()">
                        <input type="submit" class="boton" value="Cancelar" (click)="Retroceder()">
                    </div>
                </div>
            </form>
            <!-- [procesoBase]="procesoBase" -->
            <struct-indic *ngIf="paso == 4" [procesoBase]="procesoBase" (avanzarEvent)="Avanzar()"></struct-indic>

        </div>
    </div>
</div>