<div class="content-fluid">
	<div class="caja">
		<h2 class="titulo">Agregar Usuario</h2><!-- Titulo -->
		<ul class="flujo">
			<li class="circulo verde"></li>
			<li class="linea" [ngClass]="{verde: paso >= 2}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 2}"></li>
			<li class="linea" [ngClass]="{verde: paso >= 3}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 3}"><img src="../../assets/img/cycle.png" alt=""></li>
			<li class="linea" [ngClass]="{verde: paso >= 4}"></li>
			<li class="circulo" [ngClass]="{verde: paso >= 4}"></li>
		</ul>
		<div class="vistas">
			<form class="forma" *ngIf="paso == 1">
				<h3 class="correo">Correo</h3> 
				<div class="cajacor">
					<div>
					<p>
						<input type="email" class="inputTxt" name="txtCorreo" placeholder="ejemplo@ejemplo.com" size="33" [(ngModel)]="usuario.correo"/>
					</p>
				</div>
				<div class="btncorreo">
					<input type="submit" (click)="validarCorreo()" value="Validar Correo" class="botoncorreo">
				</div>
				</div>
			</form>
			<form class="forma" *ngIf="paso == 2">
				<h3 class="correo">Correo: {{usuario.correo}}</h3>
				<div class="cajacor">
					<div>
						<p>
							<input type="text" class="inputTxt" name="nombre" placeholder="Nombre" size="33" [(ngModel)]="usuario.nombre" />
						</p>
					</div>
					<div>
						<p>
							<input type="text" class="inputTxt" name="nombre" placeholder="Apellido Paterno" size="33" [(ngModel)]="usuario.apPaterno" />
						</p>
					</div>
					<div>
						<p>
							<input type="text" class="inputTxt" name="nombre" placeholder="Apellido Materno" size="33" [(ngModel)]="usuario.apMaterno"/>
						</p>
					</div>
					<div>
						<p>
							<input type="password" class="inputTxt" name="contraseña" placeholder="Contraseña"  size="33" [(ngModel)]="usuario.pass"/>
						</p>
					</div>
					<div>
						<p>
							<input type="password" class="inputTxt" name="confirmContraseña" placeholder="Confirmar Contraseña"  size="33"/>
						</p>
					</div>
					<div>
						<p>
							<input type="file"(change)="fileChange($event)" placeholder="Upload file" accept=".jpg,.jpeg,.png">
						</p>
					</div>

					<div class="btncorreo">
						<input type="submit" value="Guardar" (click)="AddUser(foto)" class="botoncorreo" />
						<input type="submit" value="Cancelar" class="botoncorreo" />
					</div>
				</div>
			</form>
			<form class="forma-rol" *ngIf="paso == 3">
				<h3 class="correo">Agregar Rol</h3><!-- Titulo -->
				<div class="cajacor">
					<input type="text" class="inputTxt" name="nombre" placeholder="Nombre Rol" size="33"/>
					<div class="btncorreo">
						<input type="submit" value="Agregar Rol" class="botoncorreo" />
					</div>
					<div class="btncorreo">
						<input type="submit" value="Omitir" (click)="Avanzar()" class="botoncorreo" />
						<input type="submit" value="Cancelar" class="botoncorreo" />
					</div>
				</div>
			</form>
			<form class="forma-fin" *ngIf="paso == 4">
				<div>
					<p class="correo">Correo:</p> 
					<label class="finuser">{{usuario.correo}}</label>
				</div>
				<div>
					<p class="correo">Nombre:</p> 
					<label class="finuser">{{usuario.nombre}}</label>
				</div>
				<div>
					<p class="correo">Apellido Paterno:</p> 
					<label class="finuser">{{usuario.apPaterno}}</label>
				</div>
				<div>
					<p class="correo">Apellido Materno:</p> 
					<label class="finuser">{{usuario.apMaterno}}</label>
				</div>

				<div class="btncorreo">
					<input type="submit" value="Finalizar" class="botoncorreo" />
				</div>
			</form>
		</div>
	</div>

	<section class="related2">
			
	</section>
</div>