<div class="content-fluid">		
	<h2 class="Title">ELOTITO</h2><!-- Titulo -->
	
	<!--==============================
			Flujo del proceso
			===============================-->
			<div class="Flujo">
				<ul>
					<li class="ItemFlujo"><p class="Proceso BordeVerde">P1</p><label class="Pie">Proceso Uno</label></li>
					<li class="Conexion"><div class="Linea BordeVerde"></div></li>
					<li class="ItemFlujo"><p class="Actividad BordeVerde">A1</p><label class="Pie">Actividad Uno</label></li>
					<li class="Conexion"><div class="Linea BordeVerde"></div></li>
					<li class="ItemFlujo"><p class="Proceso BordeAzul">P3</p><label class="Pie">Proceso Tres</label></li>
					<li class="Conexion"><div class="Linea BordeGris"></div></li>
					<li class="ItemFlujo"><p class="Proceso BordeGris">PF</p><label class="Pie">Proceso Final</label></li>
				</ul>
			</div>

	<!--==============================
			Procesos pendientes
			===============================-->
	<!-- <div class="Pendientes-Det">
		<div class="Caja">
			<div class="Icono Circulo Amarillo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Cuadrado Rojo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Circulo Azul"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Cuadrado Azul"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Documento Amarillo"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Documento Gris"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
		<div class="Caja">
			<div class="Icono Circulo Gris"></div>
			<div class="FechaIni">Inicio: <p class="Fecha">01/03/2018</p></div>
			<div class="FechaFin">Final: <p class="Fecha">15/03/2018</p></div>
			<p class="NombrePen">Actividad Dos</p>
			<p class="Responsable">Lisandor M.</p>
		</div>
	</div> -->

	<!--========================================================================================
	=            Tabla descriptiva del proceso o actividad que se esté vizualizando            =
	=========================================================================================-->
	
	<!-- <div class="Tabla">
		<ul class="Columnas Ins col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Insumos</li>
			<li class="Rows">
				<p>Insumo Uno</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows"> -->
				<!-- <label class="switch">
					<input type="checkbox" id="togBtn">
					<div class="slider round">
						<span class="on">Complet</span>
						<span class="off">Complet</span>
					</div>
				</label> -->
				<!-- Rounded switch -->
				<!-- <div>
					<p>Insumo Dos</p>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
			</li>
			<li class="Rows">
				<p>Insumo Tres</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Insumo Cuatro</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
		<ul class="Columnas ActProc col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Actividades / Subprocesos</li>
			<li class="Rows">
				<p>Actividad 1</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 2</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 3</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 4</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 5</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<p>Actividad 6</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
		<ul class="Columnas Entre col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<li class="Rows Titulo">Entregables</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 1</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 2</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 3</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
			<li class="Rows">
				<img src="img/clip.png" alt="Adjuntar">
				<p>Entregable 4</p>
				<label class="switch">
					<input type="checkbox">
					<span class="slider round"></span>
				</label>
			</li>
		</ul>
	</div> -->
	<hr>
	<div class="row">
		<div class="col-md-4" style="box-shadow: 1px 1px 1px #888888; ">
			<p style="text-align: center;font-size: 30px">Pendientes</p>
			<div class="col-md-12">
				<mat-card style="background-color: #eef3f7">
					<div class="row">
						<div>
							<hr style="border-left: 6px solid #009bdb;height: 100%;margin-top: -5px">
						</div>
						<div class="col-md-11">
							<mat-card-title>
								<p>
									<i class="fas fa-circle" style="color: #009bdb"></i> ACTIVIDAD 1
								</p>
							</mat-card-title>
							<mat-card-subtitle>
								<i class="far fa-clock"></i> 25/03/18
							</mat-card-subtitle>
						</div>
					</div>
					<mat-card-footer>
						<div class="text-right" style="font-size: 20px; margin: 10px">
							GZ
						</div>
					</mat-card-footer>
				</mat-card>
				<br>
			</div>
			<div class="col-md-12">
				<mat-card style="background-color: #eef3f7">
					<div class="row">
						<div>
							<hr style="border-left: 6px solid #009bdb;height: 100%;margin-top: -5px">
						</div>
						<div class="col-md-11">
							<mat-card-title>
								<p>
									<i class="fas fa-circle" style="color: #009bdb"></i> ACTIVIDAD 2
								</p>
							</mat-card-title>
							<mat-card-subtitle>
								<i class="far fa-clock"></i> 25/03/18
							</mat-card-subtitle>
						</div>
					</div>
					<mat-card-footer>
						<div class="text-right" style="font-size: 20px; margin: 10px">
							GZ
						</div>
					</mat-card-footer>
				</mat-card>
				<br>
			</div>

		</div>
		<div class="col-md-4" style="box-shadow: 1px 1px 1px #888888;">
			<p style="text-align: center;font-size: 30px">Procesos</p>
			<div class="col-md-12">
				<mat-card style="background-color: #eef3f7">
					<div class="row">
						<div>
							<hr style="border-left: 6px solid #a575e1;height: 100%;margin-top: -5px">
						</div>
						<div class="col-md-11">
							<mat-card-title>
								<div class="text-right" style="float: right;"><i class="fas fa-paperclip" style="font-size: 20px"></i></div>
								<p>
									<i class="fas fa-circle" style="color: #a575e1"></i> ACTIVIDAD 1
								</p>
							</mat-card-title>
							<mat-card-subtitle>
								<i class="far fa-clock"></i> 18/03/18
							</mat-card-subtitle>
							<mat-card-content>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
							</mat-card-content>
						</div>
					</div>
					<mat-card-footer>
						<div class="text-right" style="font-size: 20px; margin: 10px">
							GZ
						</div>
					</mat-card-footer>
				</mat-card>
				<br>
			</div>
			<div class="col-md-12">
				<mat-card style="background-color: #eef3f7">
					<div class="row">
						<div>
							<hr style="border-left: 6px solid #a575e1;height: 100%;margin-top: -5px">
						</div>
						<div class="col-md-11">
							<mat-card-title>
								<div class="text-right" style="float: right;"><i class="fas fa-paperclip" style="font-size: 20px"></i></div>
								<p>
									<i class="fas fa-circle" style="color: #a575e1"></i> PROCESO 2
								</p>
							</mat-card-title>
							<mat-card-subtitle>
								<i class="far fa-clock"></i> 18/03/18
							</mat-card-subtitle>
							<mat-card-content>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</p>
							</mat-card-content>
						</div>
					</div>
					<mat-card-footer>
						<div class="text-right" style="font-size: 20px; margin: 10px">
							GZ
						</div>
					</mat-card-footer>
				</mat-card>
				<br>
			</div>
		</div>
		<div class="col-md-4" style="box-shadow: 1px 1px 1px #888888;">
			<p style="text-align: center;font-size: 30px">Finalizado</p>
			<div class="col-md-12">
				<mat-card style="background-color: #eef3f7">
					<div class="row">
						<div>
							<hr style="border-left: 6px solid #1db28d;height: 100%;margin-top: -5px">
						</div>
						<div class="col-md-11">
							<mat-card-title>
								<p>
									<i class="fas fa-circle" style="color: #1db28d"></i> ACTIVIDAD 1
								</p>
							</mat-card-title>
							<mat-card-subtitle>
								<i class="far fa-clock"></i> 18/03/18
							</mat-card-subtitle>
						</div>
					</div>
					<mat-card-footer>
						<div class="text-right" style="font-size: 20px; margin: 10px">
							GZ
						</div>
					</mat-card-footer>
				</mat-card>
				<br>
			</div>
		</div>
	</div>
</div>