<h2 mat-dialog-title> {{data.title}} </h2>

<mat-tab-group class="forma">
    <mat-tab label="Detalle">
        <div mat-dialog-content class="formaDetalle">
            <div *ngIf="data.proceso.tipo == 1">
                <mat-checkbox class="example-margin" [(ngModel)]="data.proceso.objeto.obligatorio">Obligatorio</mat-checkbox>
                <p>Nombre: </p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.nombre">
                </mat-form-field>
                <p>Abreviatura:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.abreviatura">
                </mat-form-field>
                <p>Fecha Inicial:</p>
                <mat-form-field>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerIni" placeholder="Choose a date" [(ngModel)]="data.proceso.objeto.fechaIni">
                    <mat-datepicker-toggle matSuffix [for]="pickerIni"></mat-datepicker-toggle>
                    <mat-datepicker #pickerIni></mat-datepicker>
                </mat-form-field>
                <p>Fecha Fin:</p>
                <mat-form-field>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFin" placeholder="Choose a date" [(ngModel)]="data.proceso.objeto.fechaFin">
                    <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                    <mat-datepicker #pickerFin></mat-datepicker>
                </mat-form-field>
                <p>Duración:</p>
                <mat-form-field>
                    <input type="number" matInput [(ngModel)]="data.proceso.objeto.duracion">
                </mat-form-field>
                <p>Descripción:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.descripcion">
                </mat-form-field>
                <p>Costo:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.costo">
                </mat-form-field>
            </div>
            <div *ngIf="data.proceso.tipo == 2">
                <p>Nombre: </p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.nombre">
                </mat-form-field>
                <p>Descripción:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.descripcion">
                </mat-form-field>
                <p>Ramas:</p>
                <mat-form-field>
                    <input type="number" matInput [(ngModel)]="data.proceso.ramas">
                </mat-form-field>
            </div>
            <div *ngIf="data.proceso.tipo == 3">
                <p>Nombre: </p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.nombre">
                </mat-form-field>
                <p>Descripción:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.descripcion">
                </mat-form-field>
                <p>Condición:</p>
                <mat-form-field>
                    <input matInput [(ngModel)]="data.proceso.objeto.condicion">
                </mat-form-field>
                <p *ngIf="data.proceso.objeto.tipo <= 2">Ramas:</p>
                <mat-form-field *ngIf="data.proceso.objeto.tipo <= 2">
                    <input type="number" matInput [(ngModel)]="data.proceso.ramas">
                </mat-form-field>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Responsable">
        <div class="responsable">

            <div *ngFor="let select of selects">
                <mat-form-field>
                    <mat-select placeholder="Selecciona un rol...">
                        <mat-option *ngFor="let rol of roles" [value]="rol.id">
                            {{ rol.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Selecciona el responsable" [disabled]="select.disable">
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                            {{ usuario.nombre }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <button mat-raised-button (click)="BtnAddResponsableClick()">+ Agregar Responsable</button>
        </div>
    </mat-tab>
</mat-tab-group>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="{proceso: data.proceso, procesoChanged: true}" cdkFocusInitial>Guardar</button>
</div>