<h2 mat-dialog-title> {{data.title}} </h2>

<div mat-dialog-content style="width: 350px">
	<p>Descripcion del Rol:</p>
	<mat-form-field style="width: 300px">
		<input matInput [(ngModel)]="data.rol.Descripcion">
	</mat-form-field>
	<p>Nombre del Rol:</p>
	<mat-form-field style="width: 300px">
		<input matInput [(ngModel)]="data.rol.Nombre">
	</mat-form-field>
	<p>Color del Rol:</p>
	<mat-form-field style="width: 300px">
		<input matInput [(ngModel)]="data.rol.Color">
	</mat-form-field>
	<p>Icono del Rol:</p>
	<mat-form-field style="width: 300px">
		<input matInput [(ngModel)]="data.rol.Icono">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="{rol: data.rol, rolChanged: true}" cdkFocusInitial>Aceptar</button>
</div>