<div class="Alerta">
	<h2 mat-dialog-title class="titutloAlert">Confirmación</h2>
	<div mat-dialog-content>
  		<p>{{data}}</p>
	</div>
	<div mat-dialog-actions>
	  	<button mat-button (click)="btnCancelClick()" cdkFocusInitial>Cancelar</button>
	  	<button mat-button [mat-dialog-close]="true" >Confirmar</button>
	</div>
</div>