<div class="dialogo">
    <h2 mat-dialog-title class="titutloAlert">Asigna los indicadores de: {{data.title}}</h2>
    <div class="row">
        <div class="col-md-5">
            <div class="col-md-12">
                <h6 class="text-center">{{ titleIndicador }}</h6>
                <mat-form-field class="bloque">
                    <input matInput placeholder="Nombre del indicador" cdkFocusInitial [(ngModel)]="arrayIndicadores[index].indicador.nombre">
                </mat-form-field>
                <mat-form-field class="bloque">
                    <input type="number" matInput placeholder="Limite Inferior" [(ngModel)]="arrayIndicadores[index].indicador[limiteInf]" min="0" max="100" step="0.10" (keypress)="numberOnly($event)">
                </mat-form-field>
                <mat-form-field *ngIf="!IndicadorIsRojo()" class="bloque">
                    <input type="number" matInput placeholder="Limite Superior" [(ngModel)]="arrayIndicadores[index].indicador[limiteSup]" min="0" max="100" step="0.10">
                </mat-form-field>
                <mat-form-field class="bloque">
                    <textarea matInput placeholder="Descripción del indicador..." [(ngModel)]="arrayIndicadores[index].indicador.descripcion"></textarea>
                </mat-form-field>
                <mat-form-field class="bloque">
                    <input matInput placeholder="Nombre de la estrategia" [(ngModel)]="arrayIndicadores[index].estrategias[idxEstrategia].estrategia.nombre">
                </mat-form-field>
                <mat-form-field class="bloque">
                    <textarea matInput placeholder="Estrategia aplicada a este indicador" [(ngModel)]="arrayIndicadores[index].estrategias[idxEstrategia].estrategia.descripcion"></textarea>
                </mat-form-field>
            </div>
            <div class="row">
                <div mat-dialog-actions>
                    <button mat-button value="Aplicar" (click)="btnAplicarClick()">Aplicar</button>
                    <button mat-button (click)="onNoClick()">Salir</button>
                    <!-- <button mat-button [mat-dialog-close]="{indicadorChanged: true}">Guardar</button> -->
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">Indicadores</h6>
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="col-md-4 listaIndicadores">
                        <p class="text-center titleIndic">%Completado</p>
                        <p class="text-center titleIndic">LI / LS</p>
                        <p class="verde" (click)="IndicadorClick(0, 0)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(0, 0) }" class="semaforo SemVerde"></i> %{{ arrayIndicadores[0].indicador.verdeMin }} / %{{ arrayIndicadores[0].indicador.verdeMax }}</p>
                        <p class="amarillo" (click)="IndicadorClick(0, 1)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(0, 1) }" class="semaforo SemAmarillo"></i> %{{ arrayIndicadores[0].indicador.amMin }} / %{{ arrayIndicadores[0].indicador.amMax }}</p>
                        <p class="rojo" (click)="IndicadorClick(0, 2)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(0, 2) }" class="semaforo SemRojo"></i> %{{ arrayIndicadores[0].indicador.rojo }} </p>
                    </div>
                    <div class="col-md-4 listaIndicadores ">
                        <p class="text-center titleIndic ">Tiempo</p>
                        <p class="text-center titleIndic ">LI / LS</p>
                        <p class="verde" (click)="IndicadorClick(1, 0)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(1, 0) }" class="semaforo SemVerde"></i> {{ arrayIndicadores[1].indicador.verdeMin }} / {{ arrayIndicadores[1].indicador.verdeMax }}</p>
                        <p class="amarillo" (click)="IndicadorClick(1, 1)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(1, 1) }" class="semaforo SemAmarillo"></i> {{ arrayIndicadores[1].indicador.amSupMin }} / {{ arrayIndicadores[1].indicador.amSupMax }}</p>
                        <p class="amarillo" (click)="IndicadorClick(1, 2)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(1, 2) }" class="semaforo SemAmarillo"></i> {{ arrayIndicadores[1].indicador.amInfMin }} / {{ arrayIndicadores[1].indicador.amInfMax }}</p>
                        <p class="rojo" (click)="IndicadorClick(1, 3)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(1, 3) }" class="semaforo SemRojo"></i> {{ arrayIndicadores[1].indicador.rojoSup }} </p>
                        <p class="rojo" (click)="IndicadorClick(1, 4)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(1, 4) }" class="semaforo SemRojo"></i> {{ arrayIndicadores[1].indicador.rojoInf }} </p>
                    </div>
                    <div class="col-md-4 listaIndicadores ">
                        <p class="text-center titleIndic ">Costo</p>
                        <p class="text-center titleIndic ">LI / LS</p>
                        <p class="verde" (click)="IndicadorClick(2, 0)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(2, 0) }" class="semaforo SemVerde"></i> ${{ arrayIndicadores[2].indicador.verdeMin }} / ${{ arrayIndicadores[2].indicador.verdeMax }}</p>
                        <p class="amarillo" (click)="IndicadorClick(2, 1)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(2, 1) }" class="semaforo SemAmarillo"></i> ${{ arrayIndicadores[2].indicador.amSupMin }} / ${{ arrayIndicadores[2].indicador.amSupMax }}</p>
                        <p class="amarillo" (click)="IndicadorClick(2, 2)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(2, 2) }" class="semaforo SemAmarillo"></i> ${{ arrayIndicadores[2].indicador.amInfMin }} / ${{ arrayIndicadores[2].indicador.amInfMax }}</p>
                        <p class="rojo" (click)="IndicadorClick(2, 3)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(2, 3) }" class="semaforo SemRojo"></i> ${{ arrayIndicadores[2].indicador.rojoSup }} </p>
                        <p class="rojo" (click)="IndicadorClick(2, 4)"><i [ngClass]="{ SemOpaco: IndicadorOpaco(2, 4) }" class="semaforo SemRojo"></i> ${{ arrayIndicadores[2].indicador.rojoInf }} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>