<h2 mat-dialog-title> {{data.title}} </h2>
<div mat-dialog-content class="forma">
    <p>Ramas:</p>
    <mat-form-field>
        <input type="number" matInput [(ngModel)]="data.proceso.ramas">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="{proceso: data.proceso, procesoChanged: true}" cdkFocusInitial>Aceptar</button>
</div>