<h2 mat-dialog-title> {{data.title}} </h2>
<div mat-dialog-content class="forma">
    <mat-selection-list #list>
        <mat-list-option *ngFor="let hijo of hijos" (click)="onAreaListControlChanged(list)" [value]="hijo">
            {{hijo.Nombre}}
        </mat-list-option>
    </mat-selection-list>
    <!-- {{hijos.selectedOptions.selected.length}} -->
    <!-- <p>
        Options selected:
    </p> -->
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button [mat-dialog-close]="{hijos: hijosSelected, serialChanged: true}" cdkFocusInitial>Guardar</button>
</div>