<h2 mat-dialog-title> {{data.title}} </h2>

<div mat-dialog-content style="width: 550px">
	<p>Correo:</p>
	<mat-form-field style="width: 500px" >
		<input matInput [(ngModel)]="data.user.Correo">
	</mat-form-field>
	<p>Contraseña:</p>
	<mat-form-field style="width: 500px">
		<input type="password" matInput [(ngModel)]="data.user.Pass">
	</mat-form-field>
	<p>Nombre Usuario:</p>
	<mat-form-field style="width: 500px">
		<input matInput [(ngModel)]="data.user.Nombre">
	</mat-form-field>
	<p>ApPaterno:</p>
	<mat-form-field style="width: 500px">
		<input matInput [(ngModel)]="data.user.Ap_Paterno">
	</mat-form-field>
	<p>ApMaterno:</p>
	<mat-form-field style="width: 500px">
		<input matInput [(ngModel)]="data.user.Ap_Materno">
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Cancelar</button>
	<button mat-button [mat-dialog-close]="{user: data.user, userChanged: true}" cdkFocusInitial>Aceptar</button>
</div>