<form class="formularioProc">
    <h2 class="subtitle">{{title}}</h2>
    <div class="listadoProcesos">
        <div class="Ruta">
            Ruta: <label *ngFor="let ruta of rutas; let i = index" (click)="ChangeRuta(i)">{{ruta.texto}} /</label>
        </div>
        <ul class="lista">
            <li *ngFor="let proceso of procesos">
                <div *ngIf="proceso.tipo == 1" class="item">
                    <div class="procesoFigure"></div>
                    <label> {{ proceso.objeto.Nombre }} </label>
                    <input type="button" class="boton" value="Acceder" (click)="BtnAccederClick(proceso)">
                    <input type="button" class="boton" value="Asignar Indicadores" (click)="BtnAsignarIndicadoresClick(proceso.objeto.ID_Proceso, proceso.objeto.Nombre)">
                </div>
            </li>
            <!-- <li>
                <div class="actividadFigure"></div>
                <label>Actividad 1</label>
                <input type="button" class="boton" value="Acceder">
                <input type="button" class="boton" value="Asignar Indicadores" (click)="ChangeOpc()">
            </li>
            <li>
                <div class="procesoFigure"></div>
                <label>Proceso 2</label>
                <input type="button" class="boton" value="Acceder">
                <input type="button" class="boton" value="Asignar Indicadores" (click)="ChangeOpc()">
            </li> -->
        </ul>
        <div class="bototnes">
            <input type="button" class="boton" value="Regresar" *ngIf="idProcesoPadre != procesoBase.idProceso" (click)="BtnRegresar()">
        </div>
        <div class="botones">
            <input type="button" class="boton" value="Guardar y Continuar" (click)="Avanzar()">
        </div>
    </div>
</form>