<div class="Ruta">
    Ruta: <label *ngFor="let ruta of rutas; let i = index" (click)="ChangeRuta(i)">{{ruta.texto}}</label>
</div>

<div *ngIf="ramasPadre < 2">
    <proceso class="objectProc" *ngFor="let proceso of procesos; let i = index" [intoActividad]="IntoActividad()" [element]="proceso" [idx]="i" [subIdProcesoPadre]="subIdProcesoPadre" [idBase]="procesoBase.idProceso" [idPadre]="procesoPadre.idProceso" [ramaPadre]="ramaPadre"
        (DeleteEvent)="removeProc($event)" (AccederProc)="AccederProceso($event)" (PushLevel)="PushLevel()" (PushSerial)="PushSerial()">
    </proceso>
</div>


<div class="ramas" *ngIf="ramasPadre >= 2">
    <div class="image" *ngFor="let rama of ramas" (click)="AccederRama(rama)">
        <img src="../../assets/img/branch.png" alt="">
        <p class="pieImage">Rama {{ rama.noRama + 1 }}</p>
    </div>
</div>

<div class="" id="btnadd">
    <input type="button" class="subBoton" value="{{ txtBtnEdit }}" *ngIf="!ObjFinalRamas() && ramasPadre == 1" (click)="AddObj(1)">
    <input type="button" class="subBoton" value="+ Evento" *ngIf="!ObjFinalRamas() && !IntoActividad() && ramasPadre == 1" (click)="AddObj(2)">
    <input type="button" class="subBoton" value="+ Decisión" *ngIf="!ObjFinalRamas() && !IntoActividad() && ramasPadre == 1" (click)="AddObj(3)">
    <input type="button" class="subBoton" value="Regresar" *ngIf="btnSubNivel == true" (click)="btnRegresarClick()">
</div>