<div class="row">
    <div class="col-lg-4" style="margin-top: 30px">
        <img id="img1" src="../../assets/img/Procesos azul.png" style="width: 5%; ">
        <a id="p1" style="font-size: 25px">&nbsp;Proceso&nbsp;</a>
        <button class="agregar" style="background: #202C4C;text-align: center; width: 8rem; height: 3rem; border-radius: 8px; color: #fff; cursor: pointer;">Nuevo Proceso</button>
    </div>
    <div class="col-lg-6">
        <div class="dropdown text-right">
            <img src="http://localhost:5000/api/usuario/GetFoto/lisandro.martinez@cihumana.com.mx-WhatsApp Image 2018-04-05 at 21.56.48.jpeg" style=" width: 10%; cursor: pointer; border-radius: 100%;" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 2">
                <a class="dropdown-item" href="#">Lisandro M</a>
                <a class="dropdown-item" href="#">Cuenta</a>
                <a class="dropdown-item" href="#">Act/Proc</a>
            </div>
        </div>
    </div>
</div>