<div class="col-lg-12">
    <div class="row">
        <div class="col-lg-2 ">
            <menu-desktop></menu-desktop>
        </div>
        <div class="col-lg-10 ">
            <div class="row fondo">
                <div class="cabezera col-lg-12">
                    <header-desktop></header-desktop>
                </div>
                <div class="col-lg-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>