<div class="content-fluid">
    <h2 class="Title">Herramienta de Administración de Procesos</h2>
    <!-- Titulo -->

    <!--======================
			Gráficas
	=======================-->
    <div class="Graficas row">
        <!--======================
				Gráficas 1
		=======================-->
        <div class="Chart col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <chart-circle [series]="[series[0]]"></chart-circle>
            <h3 class="Pie">Completado</h3>
        </div>
        <!--======================
				Gráfica 2
		=======================-->
        <div class="Chart col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <chart-circle [series]="[series[1]]"></chart-circle>
            <h3 class="Pie">Desviación</h3>
        </div>
    </div>
    <tree-indicadores></tree-indicadores>
</div>