<div class="content-fluid">
	<h2 class="title">Usuarios Registrados</h2>
	
	<div class="contenedor">
		<div class="Barra" *ngIf="users.length == 0">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<ul *ngIf="users.length > 0">
			<li class="tarjeta" *ngFor="let user of users; let i = index;">
				<img class="icono" [src]="user.Foto | domseguro: 'usuario/GetFoto/' ">
				<div class="data">
					<p class="subtitle">Correo:</p>
					<p> {{user.Correo}}</p>
					<!-- <p>Contraseña:{{user.Pass}}</p> -->
					<p class="subtitle">Nombre: </p>
					<p> {{user.Nombre}} {{user.Ap_Paterno}} {{user.Ap_Materno}}</p>
					<input type="button" class="btn btnEditar" value="Editar" (click)="btnEditarClick(i)">
					<input type="button" class="btn btnEliminar" (click)="btnEliminarClick(i)" value="Eliminar">
				</div>
			</li>
		</ul>
	<div class="Clearfix"></div>

	</div>

</div>

