<div class="row">
    <div class=" col-lg-12 nav">
        <div class="row">
            <h1 class=" col-lg-12">ATSAN</h1>
            <a class=" col-lg-12 prueba nav__item nav_selected" name=".1" [routerLink]="['/proceso']"> <img src="../../assets/img/Procesos.png" style="width: 10%"> &nbsp;Procesos</a>
            <a class=" col-lg-12 prueba nav__item" name=".2" [routerLink]="['/detalle']"> <img src="../../assets/img/detalle.png" style="width: 10%"> &nbsp;Detalle</a>
            <a class=" col-lg-12 prueba nav__item" name=".3" [routerLink]="['/indicadores']"> <img src="../../assets/img/indicadores.png" style="width: 10%">&nbsp;Indicadores</a>
            <p class=" col-lg-12 prueba nav__item"> <img src="../../assets/img/administracion.png" style="width: 10%"> &nbsp;Administración</p>
            <a class=" col-lg-12 prueba nav__item tab" name=".4" [routerLink]="['/admin/proceso']"> <img src="../../assets/img/crear proceso.png" style="width: 10%"> &nbsp;Crear Proceso</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".5" [routerLink]="['/admin/edit-proceso']"> <img src="../../assets/img/editar proceso.png" style="width: 10%"> &nbsp;Editar Proceso</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".6" [routerLink]="['/admin/plantilla']"> <img src="../../assets/img/agregar plantilla.png" style="width: 10%"> &nbsp;Agregar Plantilla</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".7" [routerLink]="['/admin/edit-plantilla']"> <img src="../../assets/img/editar plantilla.png" style="width: 10%"> &nbsp;Editar Plantilla</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".8" [routerLink]="['/admin/rol']"> <img src="../../assets/img/rol.png" style="width: 10%"> Rol</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".9" [routerLink]="['/admin/user']"> <img src="../../assets/img/Agregar Rol.png" style="width: 10%"> &nbsp;Agregar Usuario</a>
            <a class=" col-lg-12 prueba nav__item tab" name=".10" [routerLink]="['/admin/list-user']"> <img src="../../assets/img/editar rol.png" style="width: 10%"> &nbsp;Editar Usuario</a>  
        </div>
    </div>
</div>

