<div class="proceso" *ngIf="element.subIdProcesoPadre == subIdProcesoPadre && element.ramaPadre == ramaPadre">
    <!--  -->
    <select name="opc" id="tipoProc" class="selectProc" [(ngModel)]="element.objeto.tipo" (change)="onChange($event.target.value, 1)" *ngIf="element.tipo == 1">
        <option [ngValue] = 1 *ngIf="!intoActividad" >Proceso</option>
        <option [ngValue] = 2 *ngIf="!intoActividad" >Actividad</option>
        <option [ngValue] = 3 *ngIf="intoActividad" >Paso</option>
    </select>
    <select name="opc" id="tipoDes" class="selectProc" [(ngModel)]="element.objeto.tipo" (change)="onChange($event.target.value, 3)" *ngIf="element.tipo == 3">
        <option [ngValue] = 1 >Simple</option>
        <option [ngValue] = 2 >AND</option>
        <option [ngValue] = 3 >Multiple</option>
    </select>
    <input type="text" class="inputTxt" #input placeholder=" Nombre" [(ngModel)]="element.objeto.nombre" (focus)="focusFunction(input)">
    <input type="button" value="Editar" (click)='BtnEditarClick()' class="subBoton">
    <input type="button" value="Acceder" class="subBoton" (click)="btnAccederClick()" *ngIf="!intoActividad">
    <input type="button" value="Serializar" class="subBoton" (click)="btnSerializarClick()" *ngIf="!intoActividad">
    <input type="button" value="Eliminar" class="subBoton" (click)="DeleteItem()">
</div>