<div class="caja">
    <h2 class="Title">{{ proceso.Nombre }}</h2>
    <!-- Titulo -->
    <div class="Content-line">
        <!--==============================
				Flujo del proceso
		===============================-->
        <div class="Flujo">
            <ul>
                <li *ngFor="let element of procesoPrinc; let i = index;">
                    <div class="ItemFlujo">
                        <p class="Proceso BordeVerde">
                            <!-- {{ procesoPrinc[i].Sub_ID }} -->
                        </p>
                        <label class="Pie">
							<!-- {{ procesoPrinc[i].Nombre }} -->
						</label>
                    </div>
                    <div class="Conexion" *ngIf="i != (procesoPrinc.length - 1)">
                        <div class="Linea BordeVerde"></div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="contenidoProc">
            <div class="chart">
                <chart-circle [series]="series"></chart-circle>
                <!-- <ul class="iconsChart">
                    <li>
                        <img src="" alt="% Completado">
                        <p>% Completado</p>
                    </li>
                    <li>
                        <img src="" alt="Tiempo">
                        <p>Tiempo</p>
                    </li>
                    <li>
                        <img src="" alt="Costo">
                        <p>Costo</p>
                    </li>
                </ul> -->
            </div>

            <div class="responsable">
                <div class="circle">
                    <img src="http://localhost:5000/api/usuario/GetFoto/{{responsable.Foto}}" alt="Responsable">
                    <h3>{{ responsable.Nombre }}</h3>
                </div>
                <a mat-raised-button [routerLink]="['/detalle']" class="btnDetalle">VER DETALLES</a>
            </div>

            <div class="pendientes">
                <h3>Pendientes</h3>
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 tabla">

                    <!-- Position Column -->
                    <ng-container matColumnDef="Tipo">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Elemento </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="cuadro SemRojo"></div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let element"> {{ element.NombreProc }} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="Fecha_Fin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Termino </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Fecha_Fin | date:'shortDate' }} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="Responsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Responsable </th>
                        <td mat-cell *matCellDef="let element"> {{ element.Nombre }} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

            </div>
        </div>
    </div>
</div>