<div class="content-fluid">
	<h2 class="title">ADMINISTRACIÓN DE ROLES</h2>
	
	<div class="contenedor">
		<div class="Barra" *ngIf="roles.length == 0">
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<ul *ngIf="roles.length > 0">
			<li class="tarjeta" >
				<div class="BtnPlus">
					<button mat-fab class="btnMas" (click)="btnAddClick()">+</button>
				</div>
			</li>
			
			<li class="tarjeta" *ngFor="let rol of roles; let i = index;">
				<img class="icono" [ngStyle]="{'background-color': (rol.Color)}" src="./assets/img/icono administrador.png">
				<p>Rol: {{rol.Nombre}}</p>
				<p>Descripcion:  {{rol.Descripcion}}</p>
				<input type="button" class="btn btnEditar" value="Editar" (click)="btnEditarClick(i)">
				<input type="button" class="btn btnEditar" value="Permisos" (click)="btnEditarPermisos(rol.ID_Rol)">
				<input type="button" class="btn btnEliminar" (click)="btnEliminarClick(i)" value="Eliminar">
			</li>
		</ul>	
		<div class="Clearfix"></div>
	</div>
	
</div>
