@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/*=============================================
Limpiamos los parámetros generales
=============================================*/

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    width: 100%;
    margin: 0;
}

.content-fluid {
    margin: auto;
    margin-top: 120px;
    width: 100%;
    height: auto;
    background: #FFF;
}

.content-login {
    background: #202C4C;
    color: #FFF;
}

.content-gral {
    background: #fff;
    color: #000;
}


/*=============================================
Estilos para la cabecera
=============================================*/

.cabezera {
    position: fixed;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: lighter;
    z-index: 2;
}

h1 {
    color: #FFF;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    background-color: #202C4C;
}

h2 {
    font-weight: lighter;
    text-align: center;
}

h3 {
    font-weight: lighter;
}